@charset "UTF-8";

@font-face {
  font-family: 'GenShinGothic';
  src:url('../assets/fonts/GenShinGothic-Monospace-Light.ttf');
}
@font-face {
  font-family: 'Landmark';
  src:url('../assets/fonts/Landmark-Regular.otf');
}
@font-face {
  font-family: 'SF-Compact';
  src:url('../assets/fonts/SF-Compact-Text-Ultralight.otf');
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  /*overflow: hidden;*/
}
header{
  transform: none;
  position: fixed;
  margin: 0;
  padding-top: 2vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(255,255,255,0.99);
  text-align: center;
}
nav{
  font-family: 'Landmark','arial','sans-serif','Impact';
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 1;
}
/*@media screen and (max-width: 896px) { 
  nav{
    font-family: 'arial black','arial','sans-serif','Impact';
    position: fixed;
    top: 0;
    left: -2vw;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: auto 0;
    z-index: 1;
    transform: rotate(-90deg);
    border-bottom: 1px solid #000;
  }
}*/
.head-list{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.head-list_item{
  padding-right: 30px;
}
.wrapper{

}
main {
  font-family: 'Landmark','GenShinGothic';
  font-weight: normal;
  position: relative;
  width: 100%;
}
footer{
  /*margin-top: auto;*/
  /*padding: 30px 0;*/
  position: absolute;
  width: 100%;
  bottom: 0;
}
.pace-running .wrapper {
    display: none;
}
.pace-running{
    background-image: url(../assets/image/icon.png);
    background-repeat:  no-repeat;            
    background-position:center center;
    background-size:contain;
    width:100%;
    height:auto;
}
h3{
  /*text-align: center;*/
  font-size: 40px;
  margin: 15vh 10vh 1vh 10vh;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.title {
  color:black;
  width: 10vw;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
  margin-top: 2vw;
  padding: 0vh 10vw 0vh 10vw;
  z-index: 2;
}
.toggle_wrap{
  position: relative;
  width: 50%;
  max-width: 50vw;
  margin: 0;
  padding: 0;
  margin-left: 1vw;
  margin-top: 20px;
}
.topLine{
  border-top: 1px solid #888;
  width: 50px;
}
.toggle_switch, .toggle_switch2{
  position: absolute;
  width: 100px;
  margin-top: 0;
  padding: 0;
  padding-left: 2px;
  cursor: default;
}
.toggle_switch p{
  margin: 0;
  margin-top: 1vh;
  padding: 0;
  width: 100%;
  color: #888;
  font-size: 12px;
}
.toggle_switch.open{
  animation: tsopen 1.5s forwards;
  height: 10vh;
  /*top: 20vh;*/
  margin: 0;
  padding: 0;
  bottom: 0;
}
@-webkit-keyframes tsopen {
  0% {
    top: 0;
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    top: 20vh;
    -webkit-transform: translate(0, 10vh);
    opacity: 1;
  }
}
@keyframes tsopen {
  0% {
    top: 0;
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    top: 20vh;
    -webkit-transform: translate(0, 10vh);
    opacity: 1;
  }
}
.toggle_switch::after{
  content: "";
  display: inline-block;
  width: 18px;
  height: 11px;
  margin: auto;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform .5s;
}
.toggle_switch.open::after{
  transform: rotateZ(180deg);
}
.toggle_contents{
  position: absolute;
  display: none;
  margin-top: 2%;
  padding-left: 10px;
  position: relative;
  width: 200px;
  height: auto;
}
.toggle_contents2 {
  position: absolute;
  display: none;
  margin-top: 50px;
  padding-left: 60px;
  position: relative;
  width: 100px;
  height: auto;
}
.toggle_contents a{
  text-decoration: none;
  margin: auto;
}
.toggle_contents2 a{
  text-decoration: none;
  margin: auto;
  font-size: 12px;
  font-family: 'SF-Compact','arial','sans-serif','Impact';
}
.toggle_contents:hover, .toggle_contents2:hover{
  height: 2rem;
  overflow: visible;
}
.hoverArrow, .hoverArrow2, .hoverText{
  margin-left: 2vw;
  padding: 0;
  width: 100px;
  color: #888;
}
.hoverArrow:hover, .hoverArrow2:hover, .hoverText:hover{
  color: #000;
}
.hoverArrow:hover::after, .hoverArrow2:hover::after {
  position: absolute;
  content: '';
  left: 1vw;
  margin: auto;
  margin-top: 3px;
  padding: 0;
  width: 8px;
  height: 8px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .2s;
  animation: sdb 1.5s infinite;
}
.hoverArrow2:hover::after {
  left: 80px;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(2px, 0) rotate(45deg) ;
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(2px, 0) rotate(45deg);
    opacity: 0;
  }
}
.backGrad{
  width: 100%;
  height: 30%;
  /*left: 50%;*/
  position: absolute;
  /*top: 60px;*/
  bottom: 0;
  float: right;
  z-index: -10;
  background: -moz-linear-gradient(left, #ffffff 45%, #DDF1FC);
  background: -webkit-linear-gradient(left, #ffffff 45%, #DDF1FC);
  background: linear-gradient(to right, #ffffff 45%, #DDF1FC);
}
.thumbnail-box{
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background: -moz-linear-gradient(left, #ffffff 5%, #DDF1FC);
  background: -webkit-linear-gradient(left, #ffffff 5%, #DDF1FC);
  background: linear-gradient(to right, #ffffff 5%, #DDF1FC);
}
.thumbnail-img{
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  width: 90%;
  height: auto;
  margin: 0;
  max-height: 90vh;
  margin-top: 10%;
  margin-bottom: 0;
  vertical-align: bottom;
}
@media screen and (max-width: 480px) { 
  .thumbnail-img{
  }
}
.mov-box{
  width:100%;
  height:auto;
}
.mov-container{
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  width:100%;
  height:100%;
  min-height: 90vh;
  margin-top: 10%;
  /*position:relative;*/
}
/*@media screen and (max-width: 896px) { 
  .thumbnail-img{
     transform: rotate(90deg); 
    margin-left: 30vw;
    width: 75vw;
    height: auto;
  }
}*/
.thumbnail-text {
  font-family: 'New Gulim';
  font-weight:lighter;
  font-size: 20px;
  margin-top: 5vh;
  padding-bottom: 2vh;
  width: 100%;
}
.captionBox{
  font-family: 'SF-Compact';
  width: 100%;
  /*border-top: solid 1px #000;
  border-bottom: solid 1px #000;*/
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 5vh;
  letter-spacing: 1.5px;
}
.caption p{
  width: 50%;
  margin-left: 25%;
  color: #777;
}
.caption h3{
  width: 50%;
  margin-top: 10vh;
  margin-left: 25%;
  color: #777;
}
.category{
  position: relative;
  margin: 0 auto;
  width: 50%;
  margin-left: 26%;
  margin-top: 3vh;
  margin-bottom: 8vh;
  border-left: solid 0.75px #000;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-size: 14px;
}
.category p{
  text-align: left;
  margin-left: 2vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.p-margin{
  padding-top: 20px;
}
.text-title {
  font-family: 'arial black','arial','Impact';
  font-weight:lighter;
  text-align: center;
  font-size: 20px;
  margin-top: 10vh;
  /*margin-left: 30%;*/
}
.underline {
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 5vh;
  /*height: 10;*/
  z-index: -10;
}

.underline::after {
  background-color: #000000;
  bottom: 0;
  content: '';
  display: block;
  height: 5px;
  padding: 0;
  left: 0;
  position: absolute;
  transition: .5s all;
  width: 0;
  margin-left: 50%;
  z-index: -10;
}

.underline.scrollin::after {
  margin-left: 10%;
  width: 80%;
  padding: 0;
  z-index: -10;
}

.fadein {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 1500ms;
}
.fadein.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}
.gifBox{
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 5vh;
  display: flex;
}
.cellImg{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#cell1 {
  padding: 0;
  margin:  0;
  position: absolute;
  width: 50%;
  height: auto;
}
#cell2 {
  padding: 0;
  margin:  0;
  left: 50%;
  position: absolute;
  width: 50%;
  height: auto;
}
#cell3:before, #cell4:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
#cell3 {
  padding: 0;
  margin:  0;
  /*top: 50%;*/
  position: absolute;
  width: 50%;
  height: auto;
}
#cell4 {
  padding: 0;
  margin:  0;
  left: 50%;
  /*top: 50%;*/
  position: absolute;
  width: 50%;
  height: auto;
}
.link {
  font-family: 'arial black','arial','Impact';
  font-weight:lighter;
  text-align: center;
  font-size: 20px;
}
.text-container {
  font-family: 'New Gulim';
  font-weight:lighter;
  font-size: 16px;
}
.tail_blank {
  height: 10vh;
  margin: 10vh;
}
.img-box {
  max-width: 100%;
  padding-bottom: 5vh;
  float:left;
}
.img-container {
  width: 45%;
  height: auto;
  padding:2px;
  margin:0;
  position: relative;
}
@media screen and (max-width: 896px) { 
  .img-container {
    width: 45%;
    padding:2px;
  }
}
#containerWrapper{
  position: relative;
  max-width: 66vw;
  margin: 0 auto;
}
#container{
  margin: 0 auto;
  width: 50%;
  position: relative;
  z-index: 0;
}
.item img{ 
  width: 100%; 
  height: auto;
}
.item {
  width: 30vw; 
  border: 1px solid #eee;
  background-color: #111;
}
.item p{
  color: #ffffff;
}